In [114]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

print(data)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [116]:
# Age 열의 결측치를 중앙값으로 대체
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Embarked 열의 결측치를 최빈값으로 대체
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

# 결측값 처리 결과 확인
print("Age 열의 결측값 개수:", titanic['age'].isnull().sum())
print("Embarked 열의 결측값 개수:", titanic['embarked'].isnull().sum())

Age 열의 결측값 개수: 0
Embarked 열의 결측값 개수: 0

In [118]:
# Sex(성별) 열을 남자는 0, 여자는 1로 변환
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Alive(생존 여부) 열을 yes는 1, no는 0으로 변환
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})

# Embarked(승선 항구) 열을 'C'는 0, 'Q'는 1, 'S'는 2로 변환
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})

# 변환 후 데이터 확인
print(titanic[['sex', 'alive', 'embarked']].head())

   sex  alive  embarked
0    0      0         2
1    1      1         0
2    1      1         2
3    1      1         2
4    0      0         2

In [122]:
#SibSip(타이타닉호에 동승한 자매 및 배우자의 수), Parch(타이타닉호에 동승한 부모 및 자식의 수)를 통해서 family_size(가족크기)를 생성
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

#생성된 family_size feature 출력
print(titanic['family_size'].head())

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64